nav {
    background-color: #275183;
    border-top: 2px solid #bd9e5d;
    border-bottom: 2px solid #bd9e5d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 5px;
}

nav ul a {
    color: #f6cd07;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav ul  {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
nav ul li img {
    vertical-align: middle;
    border-radius: 8px;
    max-width: 80px;
}

/*body {
    background-color: #275183;

    background-image: url("../img/background.png");

    background-repeat: repeat;
    background-size: 235px 140px;
    background-position: 0 0;
} */

body {
    background-color: #1a3a66;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 1rem;
}

main {
    text-align: center;
    color: #f6cd07;
}

.quadroGeral{
    margin: 1rem auto;
    background-color: #275183;
    padding: 2rem;
    border-radius: 10px;
}

.quadro {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    gap: 40px;
    background-color: #254d85;
    border-radius: 10px;
}

main .landscape {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
}

main .botao-iniciar img {
    width: 150px;
    margin-top: 1rem;
    transition: transform 0.3s ease;
}

aside .left{
    background-color: #37841b;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    float: left;
}

footer {
    background-color: #275183;
    text-align: center;
    padding: 1rem;
    color: #f6cd07;
    border-top: 2px solid #bd9e5d;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 5px;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



@media (max-width: 900px) {
    .secao-autores {
        flex-direction: column;
        align-items: center;
    }
    .texto-apresentacao {
        max-width: 100%;
        text-align: center;
        padding-top: 0;
    }
    .container-cartoes {
        flex-direction: column;
        align-items: center;
    }
    .secao-coluna {
        flex-direction: column;
    }
    .galeria-simples-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .galeria-simples-grid {
        grid-template-columns: 1fr;
    }
}

.texto-apresentacao {
    flex: 1; 
    padding-top: 50px; 
}

.texto-apresentacao h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

h2.texto-apresentacao {
    font-size: 2em;
    text-align: center;
}

.container-cartoes {
    flex: 2; 
    display: flex;
    justify-content: space-around; 
    gap: 30px;
    padding: 20px;
}

.cartao-autor-moldura {

    width: 350px; 
    height: 490px; 

    background-image: url('../Imagens/autores/carta2.png');


    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    border-radius: 20px; 
    
    position: relative; 
    
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
}

.cartao-autor-moldura:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.nome-hp-container {
    position: absolute;
    top: 28px; 
    left: 30px; 
    right: 65px; 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
    color: black; 
}
.nome-autor-moldura { font-size: 1.1em; margin-left: 10px; }
.hp-autor { font-size: 1em; color: black; } 

.area-ilustracao {
    position: absolute;
    top: 60px; 
    left: 40px;
    width: 270px;
    height: 190px;
    overflow: hidden; 
}

.area-ilustracao img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.detalhes-base {
    position: absolute;
    top: 262px; 
    left: 100px;
    right: 40px;
    font-size: 0.6em;
    color: black;
    text-align: left;
}

.area-ataques {
    position: absolute;
    top: 310px; 
    left: 40px;
    right: 40px;
}

.ataque {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1em;
    color: black;
}
.nome-ataque {
    flex-grow: 1;
}
.dano {
    font-size: 1.1em;
}

.area-fraquezas-custo {
    position: absolute;
    bottom: 70px; 
    left: 40px;
    right: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    font-weight: bold;
    color: black;
}
.fraqueza { color: #222121; } 
.resistencia { color: #222121; } 
.custo-retirada { color: #222121; } 

.regra-final {
    position: absolute;
    bottom: 35px; 
    left: 40px;
    right: 40px;
    font-size: 0.75em;
    text-align: center;
    color: #1a1919;
}

.secao-coluna {
    display: flex; 
    gap: 40px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.interior-coluna {
    flex: 1;
    text-align: center;
}

.linha-amarela {
    height: 5px;
    width: 100px;
    background-color: #fddb00;
    border: none;
    margin: 25px 0;
}

.interior-coluna p, .quadroGeral p{
    color: #ffffff;
    font-size: 1.1em;
    margin-bottom: 30px;
}


.interior-coluna img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.secao-banner-amarelo {
    background-color: #fddb00;
    padding: 50px 20px;
    text-align: center;    
    background-image: radial-gradient(circle, #fee85d 1.5px, transparent 1.5px);
    background-size: 15px 15px;
}

.secao-banner-amarelo p {
    font-size: 1.6em;
    font-weight: bold;
    color: #222;
    max-width: 800px; 
    margin: 0 auto;
    line-height: 1.4;
}

.girar{
    border-bottom: 3px solid #000;
    padding-bottom: 150px;
}

.base{
    margin: 0;
    padding: 50px 50px 100px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F9F9F9;
    color: #000;
    --color1: #fa1eb1;
    --color2: #4706eb;
    --color3: rgb(162, 244, 162);
    --color4: #ff7f50;
    height: 40vh;
    display: grid;
    place-items: center;
    }

.conteiner{
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    perspective: (10000px);
    animation: rotate3d 30s linear infinite;
    
    div{
        position: absolute;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 20deg)) translateZ(580px);
        transition: transform 1s;
    
    
        img{
            width: 200px;
            height: 200px;
            background-color: #121212;
            color: #fff;
            display: grid;
            place-items: center;
            box-shadow: 0 15px 25px rgba(0,0,0,0.5);
        }
    }
}

@keyframes rotate3d {
    from{
        transform: perspective(10000px) rotateY(0deg);
    }
    to{
        transform: perspective(10000px) rotateY(360deg);
    }
}

html {
        scroll-behavior: smooth;
    }

    .banner {
    height: 70vh;
    background-color: #333;
    background-image: url('../Imagens/videos/cartas2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000;
}

.container-submenu {
    position: sticky;
    top: 0px;
    z-index: 1000;
}

#submenu-ancora {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 14px;
    margin: 0;
}

#submenu-ancora a {
    padding: 14px 25px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: background-color 0.2s;
}
    
#submenu-ancora a:hover {
    background-color: #ddd;
}

.secao-conteudo {
    padding-top: 80px; 
    min-height: 70vh;
    padding-left: 30px;
    padding-right: 30px;
}

.secao-conteudo h2 {
    font-size: 2.5em;
    color: #f6cd07; 
    border-bottom: 2px solid #bd9e5d;
    padding-bottom: 10px;
}

.container-video {
    position: relative;
    width: 100%;
    margin: auto;
    aspect-ratio: 16/9;
}
        
.video-responsivo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.galeria-simples-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}
.foto-bloco img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid #bd9e5d; 
    transition: transform 0.3s ease;
}

.foto-bloco img:hover {
    transform: scale(1.05);
}

.foto-bloco p{
    margin-top: 15px;
    font-size: 0.9em;
    font-weight: bold;
    color: #f6cd07; 
}